body {
	overflow-x: hidden;
	margin-bottom: 100px;
	font-family: 'Raleway', sans-serif;
}

#quiz {

	margin-left: 680px;

}

h1 {
	text-align: center;
	padding: 20px;
}

h3 {
	text-align: center;
}

#right {
	transform: translate(-50px, 40px);
}

#right2 {
	transform: translate(-50px, 40px);
}

#right3 {
	transform: translate(-50px, 40px);
}
#right4 {
	transform: translate(-50px, 40px);

}

#right5 {
	transform: translate(-50px, 40px);
}

#right6{
	transform: translate(-50px, 40px);
}

#right7{
	transform: translate(-50px, 40px);
}



#wrong {
	transform: translate(-50px, 40px);
}

#wrong1 {
	transform: translate(-50px, 40px);
}

#wrong2 {
	transform: translate(-50px, 40px);
}

#wrong3 {
	transform: translate(-50px, 40px);
}
#wrong4 {
	transform: translate(-50px, 40px);
}
#wrong5 {
	transform: translate(-50px, 40px);
}
#wrong6 {
	transform: translate(-50px, 40px);
}
#wrong7{
	transform: translate(-50px, 40px);
}
#wrong8{
	transform: translate(-50px, 40px);
}
#wrong9{
	transform: translate(-50px, 40px);
}
#wrong10{
	transform: translate(-50px, 40px);
}
#wrong11{
	transform: translate(-50px, 40px);
}

#q1 {
	width: 140px;
}

#q2 {
	width: 330px;
}

#q3 {
	width: 240px;
}

#banner {
	text-align: left;
	width: 1590px;
	height: 500px;
	transform: translate(-10px, -30px);
	overflow: hidden;
}

#banner2 {
	text-align: left;
	transform: translate(-10px, -10px);
	overflow: hidden;
		z-index:-1; 
}

#center {
	text-align: center;
}

#button1 {
	text-align: center;
	background-color: #668cff;
	color: white;
	transform: translate(-70px, 0px);
}

#button2 {
	text-align: center;
	background-color: #668cff;
	color: white;
	transform: translate(-70px, 0px);
}

.icon {
	height: 100px;
	width: 100px;
	transform: translate(630px, 0px);

}

#greenanimal {
	width: 240px;
}

#redseal {
	width: 100px;
}

#redwood {
	width: 100px;
}

#log {
	text-align: center;
	height: 300px;
	width: 300px;
	transform: translate(650px, -1300px);
		z-index: 4; 
		position: relative;
}

#container {
	background-color: white;
	height: 350px;
	width: 300px;
	transform: translate(650px, -1150px);
	z-index:1; 
	border-radius: 20px;
	position: absolute;
	opacity: .6;
	 
}

#hide{
  display:none;
}